* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(231, 230, 226);
}

.main {
  display: flex;
  background: rgb(231, 230, 226);
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin-top: 2rem;
}

.header {
  background-color: #ffba00;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 0;
  animation: horizontal 2s;
}

.section {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  animation: vertical 2s;
  z-index: 1;
  padding: 3rem;
  border-radius: 0.3rem;
  flex-direction: column;
  margin-bottom: 3rem;
}

.btnClientOpen {
  color: #fff;
  background: #1fb6ff;
  height: 2.5rem;
  width: 9rem;
  font-size: 1rem;
  border-width: 0;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.btnClientOpen:hover {
  color: #fff;
  background: #1a709b;
  height: 2.5rem;
  width: 9rem;
  transition: 0.5s;
}

.btnEdit {
  color: #fff;
  height: 2.5rem;
  width: 4.5rem;
  transition: 0.5s;
  background-color: #13ce66;
  border-width: 0;
  border-radius: 0.3rem;
}

.btnEdit:hover {
  color: #fff;
  background-color: #17b85f;
  border-width: 0;
  border-radius: 0.3rem;
}

.btnDelete {
  color: #fff;
  height: 2.5rem;
  width: 4.5rem;
  transition: 0.5s;
  background-color: #ff4949;
  border-width: 0;
  border-radius: 0.3rem;
}

.btnDelete:hover {
  color: #fff;
  background-color: #e23030;
  border-width: 0;
  border-radius: 0.3rem;
}

.table tr td {
  font-weight: 500;
  padding: 0.5rem;
  width: 13rem;
}

.tableHead {
  background-color: #ffba00;
  height: 3rem;
  font-size: 1.2rem;
  padding: 5rem;
}

.endTable {
  font-weight: bold;
  text-align: center;
  flex-direction: row;
}

.footer {
  font-size: 1.5rem;
  animation: horizontal 4.8s;
}

.modal {
  position: fixed;
  z-index: 1;
  background: rgb(231, 230, 226);
  display: none;
  flex-direction: column;
  width: 40rem;
  align-self: center;
  animation: vertical 2s;
  border-radius: 5px;
}

.modalHeader {
  background-color: #ffba00;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}
.modalHeader h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.modalForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}

.modalContent {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border-width: 0;
}

.stBox {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.ndBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-right: 1.4rem;
}

.btnSave {
  color: #fff;
  height: 2.5rem;
  width: 4.5rem;
  transition: 0.5s;
  background-color: #13ce66;
  border-width: 0;
  border-radius: 0.3rem;
}

.btnSave:hover {
  background-color: #17b85f;
}

.btnCancel {
  color: #fff;
  background: #1fb6ff;
  height: 2.5rem;
  width: 6rem;
  transition: 0.5s;
  border-width: 0;
  border-radius: 0.3rem;
}

.btnCancel:hover {
  background: #1a709b;
}

@keyframes vertical {
  from {
    transform: translateY(40rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes horizontal {
  from {
    transform: translateX(40rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
